/*
Colors used:
Background  Color (Off-White): rgb(249, 248, 246);
Background Secondary Color (Blushy Pink): rgb(240, 231, 224);
Primary Color (Brown): rgb(183,135,104);
Secondary Color (Light Brown): rgb(218,198,183);
Text Color (Charcoal Black): rgb(32,25,8);
*/

html {scroll-behavior: smooth;}

* {
  box-sizing: border-box;
}


body {
  background-color: rgb(247,243,239);
  font-family: 'Palanquin', sans-serif;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  color: rgb(32,25,8);
}

header {
    background-color: rgb(240, 231, 224);
    padding: 20px 0 4px;
    -webkit-box-shadow: 2px 3px 11px 0px rgba(193, 181, 181, 0.43);
    -moz-box-shadow:    2px 3px 11px 0px rgba(193, 181, 181, 0.43);
    box-shadow:         2px 3px 11px 0px rgba(193, 181, 181, 0.43);
    position: fixed;
    width: 100%;
}

main {
padding: 55px 0 0 0;

}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Palanquin', sans-serif;
  color: rgb(32,25,8);
}

nav > ul > li > a:visited {
  color: rgb(183,135,104);
}

nav > ul > li > a:hover {
  color: rgb(218,198,183);
}
nav > ul > li > a:active {
  color: rgb(32,25,8);
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}


.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
padding: 24px 0 0;
}

.navtoggle.responsive  li {
display: block;
padding: 20px ;
}


h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 3.05em;
  font-weight: 800;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  font-family: Palanquin;
  text-transform: uppercase;

}

h3 {
  font-size: 1em;
  font-weight: 600;
  font-family: Palanquin;
  text-transform: uppercase;
}

h4 {
  font-size: 0.9em;
  font-weight: 200;
  font-family: 'Palanquin', sans-serif;
}
p, li {
  font-size: 1em;
  font-weight: 200;
  font-family: 'Palanquin', sans-serif;
}

img {
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}

img.logo{
  width: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

a {
  color: rgb(183,135,104);
  text-decoration: none;
}
a:hover, a:focus {
  color: rgb(218,198,183);
  text-decoration: underline;
}
a:visited {
  color: rgb(241,237,235);
}
a:active {
  color: rgb(183,135,104);
}

.biopic{
	border-radius: 10%;
  max-width: 250px;
  float: left;
}

.biotxt{
  display: inline-block;
  width:100%;
}


.button {
  display: inline-block;
  background-color: rgb(183,135,104);
  color: rgb(255,255,255);
  font-weight: 400;
  font-family: Palanquin;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  -webkit-box-shadow: 2px 3px 11px 0px rgba(193, 181, 181, 0.73);
  -moz-box-shadow:    2px 3px 11px 0px rgba(193, 181, 181, 0.73);
  box-shadow:         2px 3px 11px 0px rgba(193, 181, 181, 0.73);
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  color: rgb(255,255,255);
  -webkit-box-shadow: 2px 3px 11px 0px rgba(193, 181, 181, 0.73);
  -moz-box-shadow:    2px 3px 11px 0px rgba(193, 181, 181, 0.73);
  box-shadow:         2px 3px 11px 0px rgba(193, 181, 181, 0.73);
}
.button.contact {
  background-color: transparent;
  color: rgb(183,135,104);
  border: 2px solid rgb(183,135,104);
  margin: 2px 0;
}
.button.contact:hover {
  background-color: rgb(218,198,183);
  color: rgb(255,255,255);
  border: 2px solid transparent;
}
.button:active {
  color: rgb(183,135,104);
}


.icons {
  width: 12%;
  max-width: 42px;
  margin: 20;
}

.copyright {
  text-align: center;
}

/* Layout styling */

.row {
  margin: 25px 0;
  display: inline-block;
}

.container {
  padding: 0 15px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.imghands {
  width: 95%;
  max-width: 100%;
  height: auto;
}

.socialicons {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.socialiconset {
  padding-top: 40px;
  text-align: center;
}

.biohdr span {
  padding-top: 60px;
  display:block;
}

.wilderhdr span {
  padding-top: 60px;
  display:block;
}

.singlescreenwilder{
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .herotxt{
    padding: 10px 0;
  }


#hero {
  background-color: rgb(240, 231, 224);
    display: inline-block;
    padding-top: 20px;
    width: 100%;
}

#hero h1{
  text-align: center;
  font-weight: 200;
  color: rgb(32,25,8);;
  font-size: 1.8em;
}

#hero span {
  display: block;
}


[class*="col-"] {
    float: left;
    padding: 10px;
}

@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  img.logo{
    width: 5%;
    display: block;
    max width: 150px;
    margin: 0;
    float: left;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
  margin: 1em 0;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }


.navtoggle.responsive nav {
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  }


.navtoggle.responsive li  {
  display: block;
  padding: 0px 0;
}

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }



  .col-md-6 {
  width: 50%;
  }

  .biohdr span {
    padding-top: 20px;
    display:block;
  }

  .wilderhdr span {
    padding-top: 20px;
    display:block;
  }


}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:last-child {
  display: none;
}


  img.logo{
    width: 55px;
    display: block;
    max width: 150px;
    margin: 0;
    float: left;
  }


  .col-lg-3 {
  width: 25%;
  }

  .col-lg-5 {
  width: 41.66%;
  }

  .col-lg-7 {
  width: 58.33%;
  }

  .col-lg-9 {
  width: 75%;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}
